<footer>
        <div class="container">
            <p class="pull-right">
                <a href="http://lalin.gal">Concello de Lalín &copy; {{ "now"|date("Y") }}</a> | 
                <a href="https://bolt.cm">Bolt <i class="fa fa-heart"></i></a>
            </p>
        </div>
    </footer>    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ paths.theme }}js/vendor/jquery-1.11.2.min.js"><\/script>')</script>    
        
    <script src="{{ paths.theme }}js/vendor/bootstrap.min.js"></script>
    <script src="{{ paths.theme }}js/main.js"></script>   
        
    {% if empresa is defined %}
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script>
        {% if empresa.geolocation is defined %}
            var map = L.map('mapa').setView([{{ empresa.geolocation.latitude }}, {{ empresa.geolocation.longitude }}], 15);
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            L.marker([{{ empresa.geolocation.latitude }}, {{ empresa.geolocation.longitude }}]).addTo(map)
                .bindPopup('<a href="https://www.google.es/maps/?ll={{ empresa.geolocation.latitude }},{{ empresa.geolocation.longitude }}&z=15&t=m&hl=gl&daddr={{ empresa.geolocation.latitude }},{{ empresa.geolocation.longitude }}" target="_new"><i class="fa fa-map-marker"></i> <strong>Como chegar?</strong></a>');

            var myStyle = {
                "color": "#336699",
                "weight": 5,
                "opacity": 0.65
            };

            {% if empresa.geojson is defined %}
            L.geoJson({{ empresa.geojson }}, myStyle).addTo(map);
            {% endif %}
        {% endif %}
    </script>    
    {% endif %}
        
        <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
            window.cookieconsent_options = {"message":"Este sitio emprega cookies para facer uso dos servizos de mapas","dismiss":"De acordo","learnMore":"Ler máis","link":"http://lalin.gal/aviso-legal","theme":"light-floating"};
        </script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
        <!-- End Cookie Consent plugin -->

    
    </body>
</html>
